* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  :root {
    --primary:rgb(179, 213, 241);
    --secondary: rgb(3, 37, 65);
    --tertiary: #32678b;
   }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  header {
    background: var(--secondary-color);
    width: 65%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
  }

  .scoresContainer {
    float: left;
    width: 25%;
    height: 20px;
    text-align: center;
    margin-top: 20px;
    padding-left: 10px;
  }

  .scoresContainer a {
  color: var(--primary-color);
  }

  .timerContainer {
    float: right;
    width: 25%;
    height: 20px;
    text-align: right;
    display: inline;
    margin-top: 20px;
    padding-right: 25px;
  }

  .timerContainer h4 {
    color: var(--primary-color);
  }

  footer {
    width: 75%;
    text-align: center;
    color: var(--secondary-color);
    font-size: 10px; 
  }

  .quiz-container {
    width: 75%;
    text-align: center;
    color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;     
  }

  .time-display p {
    color: var(--primary-color);
  }

  .intro {
    width: 65%;
    height: 300px;
    margin: 100px auto;
    text-align: center;
    border-bottom: 2px solid  var(--secondary-color);
  }

.question-section, .score-container, .score-output {
  width: 65%;
  height: 300px;
  text-align: center;
}

.btn {
  display: inline-block;
  border-radius: 12px;
  border: none;
  background: var(--secondary-color);
  position: relative;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn:active {
  color: var(--tertiary-color);
}
  
.text-input {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid var(--tertiary-color);
  background: var(--tertiary-color);
  position: relative;
  padding: 5px;
}
