* {
    box-sizing: border-box;
  }
  
  :root {
    --primary:rgb(225, 226, 233);
    --secondary: rgb(4, 34, 73);
    --tertiary: rgb(192, 246, 253);
      }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  header {
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .scoresContainer {
    float: left;
    width: 150px;
    height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 40px;
  }

  .timerContainer {
    float: right;
    width: 150px;
    height: 20px;
    text-align: left;
    display: flex;
    justify-content: center; 
    margin-right: 40px;
  }

  .top-container {
    text-align: center;
    color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;     
  }

  .intro {
    width: 50%;
    height: 300px;
    margin: 200px auto;
    color: rgb(4, 34, 73);
    text-align: center;
  }

.middle-container {
  display: none;
}
  
.bottom-container {
  display: none;
}